<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Login  - CodePen</title>

  <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="styles/loginstyle.css" media="screen" type="text/css" />

</head>

<body>

  <div class="wrap">
		<div class="avatar">
      <img src="http://cdn.ialireza.me/avatar.png">
		</div>
		<input type="text" placeholder="username" id="username" ng-model="usr">
		<div class="bar">
			<i></i>
		</div>
		<input type="password" id="password" ng-model="pwd" placeholder="password">

		<button id="login" ng-click="submit()">Sign in</button>
	</div>

  <script src="js/index.js"></script>

</body>

</html>