<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<title>Profile</title>
		<link rel="shortcut icon" href="../favicon.ico">
		<link rel="stylesheet" type="text/css" href="../styles/default.css" />
		<link rel="stylesheet" type="text/css" href="../styles/component.css" />
		<script src="../controllers/modernizr.custom.js"></script>
		<script src="../controllers/loginValidifier.js"></script>
	</head>
	<body>
		<div class="container demo-3">
			
			<ul class="grid cs-style-4">
				<h1>{{firstname}} {{lastname}}</h1>
				
				<!-- USER -->
				<li>
					<figure id="user">
						<div><img src="../images/1.png" alt="img01"></div>
						<figcaption>
						<h3>NAME: <h4> {{firstname}}</h4><br></h3>
						<h3>EMAIL: <h4> {{email}}</h4></h3>
						<h3>GENDER: <h4>{{gender}}</h4></h3>
						<h3>PREFERENCE: <h4>{{preference}}</h4></h3>
						<h3>COUNTRY: <h4>{{country}}</h4></h3>
						</figcaption>
					</figure>
				</li>
				
				
				<!-- MATCH -->
				<li>
					<figure>
							<div><img src="../images/1.png" alt="img01"></div>
							<figcaption>
							<h3>NAME: <h4> {{matchFirstname}}</h4><br></h3>
							<h3>EMAIL: <h4> {{matchEmail}}</h4></h3>
							<h3>GENDER: <h4>{{matchGender}}</h4></h3>
							<h3>PREFERENCE: <h4>{{matchPreference}}</h4></h3>
							<h3>COUNTRY: <h4>{{matchCountry}}</h4></h3>
							</figcaption>
					</figure>
				</li>

				<button ng-click="previousMatch()">Left</button>
				<button ng-click="nextMatch()">Right</button>
				
				
				
				<li>
					
				</li>
			</ul>
		</div>
	</body>
</html>

<!-- ================================ NAV  ================================ -->

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		
		
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="../styles/component1.css" />
		<script src="../controllers/modernizr-2.6.2.min.js"></script>
	</head>
	<body>

				<!-- Start Nav Structure -->
				<button class="cn-button" id="cn-button">+</button>
				<div class="cn-wrapper" id="cn-wrapper">
				    <ul>
				      <li><a href="#mystains"><span class="icon-picture"></span></a></li>
				      <li><a href="#gameplay"></a></li>
				      <li><a href="#profile"><span class="icon-home"></span></a></li>
				      <li><a href="#about"></a></li>
				      <li><a href="#login"></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay"></div>
				<!-- End Nav Structure -->
		
		<script src="../controllers/polyfills.js"></script>
		<script src="../controllers/demo1.js"></script>
	</body>
</html>
