body {
    background: #eedfcc url(../images/bg3.jpg) no-repeat center top;
    webkit-background-size: cover;
    background-size: cover;
    }

h1{
    font-family:'Amatic SC', cursive;
    font-size: 90px;
    color: #fff;
    text-align: center;
  }

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.form-5 {
    /* Size and position */
    width: 400px;
    margin: 150px auto 30px;
    position: relative;

  
   
}

.form-5 p {
    width: 75%;
    float: left;
    border-right: none;
    border: 1px solid #ececec;
    border-radius: 20px 0px 0px 20px;
}

.form-5 input[type=text],
.form-5 input[type=password] {
    /* Size and position */
    width: 100%;
    height: 50px;
    padding: 0 20px;

    /* Styles */
    border: none; /* Remove the default border */
    background: white; /* Fallback */
    background: rgba(255,255,255,0.2);
    box-shadow: 
        inset 0 0 20px rgba(255,255,255,0.5);

    /* Font styles */
    font-family: 'Amatic SC', sans-serif;
    font-weight: bold;
    text-indent: 10px;
    color: #34495e;
    text-shadow: 0 1px 1px rgba(0,0,0,0.5);
    letter-spacing: 3px;
    font-size: 30px;       
}

.form-5 input[type=text] {
    border-bottom: 1px solid #fff; /* Fallback */
    border-bottom: 1px solid rgba(255,255,255,0.7);
    border-radius:20px 0px 0 0;
}

.form-5 input[type=password] {
    border-radius: 0 0 0px 20px;
}

.form-5 input[type=text]:hover,
.form-5 input[type=password]:hover,
.form-5 input[type=text]:focus,
.form-5 input[type=password]:focus
{
    background: rgba(255,255,255,0.4);
    outline: none;
}



.form-5 button {
    /* Size and position */
    width: 25%;
    height: 100px;
    float: left;
    position: relative;
    overflow: hidden;
    border-radius: 0px 0px 0px 0px;
    border: none;
    background-color: #336e7b;
    opacity: 0.5;
    
   
    cursor: pointer;  
   
}

.form-5 button span {
    display: block;
    color: #ececec;
    font-family: 'Amatic SC', sans-serif; 
    font-size: 30px;
   font-weight: bold;
}

.form-5 button:hover,
.form-5 button:focus{
     background: rgba(27,163,156,0.9);
    outline: none; 
}

